.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5em;
    align-items: center;
    color: #F4FEFF;
    position: sticky;
}
.logo-section{
    display: flex;
    font-weight: 900;
    font-family: Droid Sans;
}
 .nav-hero-ul {
    display: flex;
    gap: 2rem;
    
}
.link{
    text-decoration: none;
    color: #F4FEFF;
}

ul li{
    list-style: none;
    font-size: 1.05rem;   
}

ul li:hover {
    font-size: 1.1rem;
}
ul li:visited{
    text-decoration: none;
}
.communication-section{
    display: flex;
    gap: 1rem;
}
.chat-section{
    text-align: center;
    padding:  0.8em;
    border: 1px solid #fff;
    background-color: #112540;
    border-radius: 0.5rem;
    font-weight: 700;
}
.chat{
    width: 30%;
}
@media(max-width:480px){
    .nav-bar{
        flex-wrap: wrap;
        font-size: 0.8rem;
        justify-content:space-between;
        padding: 1em;
        gap:0.2rem;
    }
    .nav-hero-ul{
        gap: 0.5rem;
    }
    .link{
        font-size: 0.71rem;
    }
}